concurrent = {{ gitlab_runner_concurrent }}
check_interval = {{ gitlab_runner_check_interval }}
connection_max_age = "15m0s"
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ gitlab_runner_description }}"
  url = "{{ gitlab_runner_url }}"
  executor = "{{ gitlab_runner_executor }}"
  [runners.cache]
    MaxUploadedArchiveSize = 0
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runner_docker_image }}"
    privileged = {{ gitlab_runner_privileged | lower }}
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
    network_mtu = 0
    environment = ["DOCKER_HOST=tcp://docker:2375", "DOCKER_TLS_CERTDIR="]
    
    [[runners.docker.services]]
      name = "docker:dind"
      alias = "docker"
      command = ["--insecure-registry=0.0.0.0/0", "--tls=false"]
