version: '3.8'

services:
  gitlab:
    image: "{{ gitlab_image }}"
    container_name: "{{ gitlab_container_name }}"
    hostname: "{{ gitlab_hostname }}"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    ports:
      - "{{ gitlab_http_port }}:80"
      - "{{ gitlab_https_port }}:443"
      - "{{ gitlab_ssh_port }}:22"
    volumes:
      - "{{ gitlab_config_dir }}:/etc/gitlab"
      - "{{ gitlab_logs_dir }}:/var/log/gitlab"
      - "{{ gitlab_data_dir }}:/var/opt/gitlab"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ gitlab_external_url }}'
        gitlab_rails['gitlab_shell_ssh_port'] = '{{ gitlab_ssh_port }}'

